@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
$font: 'Saira Semi Condensed',
sans-serif;
$font-color: #ffffff;
$background: #39393B;
$transition: .6s;
$font-size: 5vw;
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}